*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
    background-color: #ffffff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/* common classes */
.allPtag{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.buttons{
    border-radius: 8px;
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    text-transform: capitalize;
    font-size: 20px ;
    font-weight: 600;
}
.buttons:hover{
    color: #eee;
    font-weight: 500;
}
.images{
    width: 100%;
     border-radius: 8px;
}
header{
    background-color: #ff8f0e30;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 115px;
    padding-top: 60px;
}
header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #424242;
}
a:hover{
    color: black;
}
header h2{
    font-weight: bold;
    font-size: 45px;
    text-transform: capitalize;
}


#banner-section{
    background-color: #ff8f0e30;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding-bottom: 35px;
}

#banner-section h1{
    font-weight: bold;
    font-size: 64px;
}
#banner-section p{
    margin: 33px auto;
}
#team-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 130px 300px;
    gap: 73px;
}
/* #team-section div:last-child{
    max-height: 305px;
    min-height: 305px;
} */
#team-section .teamsImg{
    min-width: 300px;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
.teamgrid{
grid-column:  span 1 ;
grid-row: span 1;
}
#team-section p{
    padding: 24px 0px 32px 0px;
}
#team-section h3{
    color: black;
    font-size: 45PX;
    font-weight: 800;
}
#team-section h3 span:first-child{
    color: #727272;
    font-weight: 700;
}

#team-section h3 span:last-child{
    color: #FF900E;
    font-weight: 900;
}

